dataset/*
output/*
code/*
prediction/*
augmentation/checkpoint-4000/*
augmentation/augment/*
augmentation/augmentation_model/*
model/*
.idea/*
lightning_logs/*
__pycache__/
checkpoint/*
wandb/*
confusion_matrix/*